{{!-- <article class="item">
    <div class="title">
        <h2>{{item_name}}</h2>
        <p>Description: {{item_description}}</p>
        <p>Inventory: {{inventory}}</p>
    </div>
</article> --}}


<div class="column is-3">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{item_image}}" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content is-success is-light">
            <div class="media">
                {{!-- <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div> --}}
                <div class="media-content">
                    <p class="title is-4">{{item_name}}</p>
                    <p class="subtitle is-5">{{category.category_name}}</p>
                    <p class="subtitle is-6">Owned by: {{ user.username}}</p>
                </div>
            </div>

            <div class="content">
                {{item_description}}
                <br>
                Inventory: {{inventory}}
            </div>
        </div>
    </div>
</div>
